# Demo Project
DemoProject/Test.tscn

# Godot-specific ignores
.godot
.import/
export.cfg
export_presets.cfg
*.import

# Mono-specific ignores
.mono/

### Windows ###
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# Rogo
.rogo
BuildLocal.rogue

# Vim
*.swp

# macOS
.DS_Store
